.fullPage {
  width: 100%;
  height: 100%
}

.mergeHeading {
  font : 18px ProximaNovaRegular;
  padding-top: 16px
}

.gap {
  padding-top: 16px
}

.inputLine {
  height: 35px;
  border: none;
  border-bottom: 1px solid #e3e6eb;
  width: 900px;
  outline: none
}

.resultHead {
  padding : 15px 0 12px 55px;
  border-bottom: solid 1px #f0f0f0;
  box-shadow: 0 -1px 0 0 #f8f8f8;
  cursor: pointer;
  color : #333;
  font-size: 17px;
  text-align: left
}

.clboth {
  clear: both
}

.resultContent {
  float: left;
  width: 900px
}

.contentHead {
  float: left;
  width: 100%;
  word-wrap: break-word;
  overflow: visible
}

.contactHead {
  color: #777;
  font: 12px 'ProximaNovaRegular';
  text-decoration: none
}

.contactContent {
  width: 100%;
  word-wrap: break-word;
  overflow: visible
}
